@{
  ViewData["Title"] = $"About Today is {DateTime.Today.ToString()}";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<repeat count="3">
  The Cubs Win the World Series!<br/>
</repeat>
